<footer>
    <div>
        <div style="padding: 30px;">
            <div style="background: #F1F1F1 0% 0% no-repeat padding-box; border-radius: 22px;">
                <div style="padding: 20px">
                    <p style="font-weight: 100; font-size: 20px ; line-height: 37px;  font-family: Verdana; color: #8F91A4; text-align: center; line-height: 1.8">We wish you & your family a very healthy and prosperous life with our commitment to always managing distaster.</p>
                </div>
                
                <div style="padding: 20px">
                    <p style="width: 418px;  font-weight: Bold; font-size: 20px ; font-family: Verdana;
                            height: 192px; text-align: center; color: #4C4C51; line-height: 1.6; ">....</p>
                </div>
            </div>
        </div>
        <br>
        <p style=" font-size: 20px ; line-height: 37px;  font-family: Verdana; color: #232121;   padding: 30px; font-style: Italic;">Together, we can only make FUTURE better, bigger & brighter...</p>
        <br>
        <div style=" background-color: #F1F1F1; ">
            <div style="padding: 100px;">
                <img src="https://group.renault.com/wp-content/uploads/2021/03/nouveau_logo_renault_banner.jpg" alt="logo.png" height="80px" style="align-items: center; margin-left: 40px"/>
                <br>
                <p style="text-align: center">At your Service,</p>
                <p style="text-align: center">Team Customer Support @ RiskReady.in</p>
                <p style="text-align: center"> Risk Ready!</p>
                <p style="text-align: center">Email: <a style="color: blue;">hello@abc.com</a></p>
                <br>
                <div style="padding: 10px 10px 0 0">
                    <img  src="https://cdn.clipart.email/52708b58ae9321650e8ed05ea20649cd_white-instagram-logo-download-free-clip-art-with-a-transparent-_840-880.jpeg" alt="instagram-logo" height="35px" width="35px" style="padding: 23px; align-items: center; margin-left: 80px"/>
                    <img src="https://www.clipartmax.com/png/small/254-2540548_500-twitter-logo-latest-twitter-logo-icon-gif-transparent-twitter-logo-grey.png" alt="twitter-logo" height="35px" width="35px" style="padding: 23px; align-items: center;"/>
                </div>
            </div>
            
        </div>
        
        
    </div>
    
</footer>